@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

.book .book-summary {
  background: #253939;
}

.book .book-body {
  background: #edece4;
}

.book .book-summary ul.summary li a {
  padding: 7px 15px 7px 15px;
}

.book .book-summary ul.summary li, 
.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span,
.book .book-summary ul.summary li.active a, 
.book .book-summary ul.summary li.done > a, 
.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li i.fa-check {
  color: #e8f1f2;
}

.book .book-summary ul.summary li a:hover {
  background: #242628;
  text-decoration: none;
}

.book .book-summary ul.summary li a.gitbook-link {
  color: white;
}

.book .book-summary ul.summary li.done i.fa-check {
  display: none;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  border: 1px solid #ccc;
}

.btn {
  margin-right: 5px;
  margin-bottom: 10px;
}

.btn-container {
  padding-left: 0;
}

.book .book-body .page-wrapper .page-inner section.normal pre.lang-r-code {
  background-color: #DFEBF5;  
  x-background-color: #E4F5FD;  
}

.book .book-body .page-wrapper .page-inner section.normal pre.lang-r-output {
  background-color: white;  
}

.book .book-body .page-wrapper .page-inner section.normal a.btn-success {
  color: #fff;
  background-color: #5cb85c;
}

.book .book-body .page-wrapper .page-inner section.normal a.btn-primary {
  color: #fff;
  background-color: #337ab7;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
  text-decoration: none;
}

.book .book-body .page-wrapper .page-inner section.normal p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert {
  border-color: #E6D0A9;
}

.alert .glyphicon{
    display:table-cell;
}

.alert div,
.alert span{
    padding-left: 5px;
    display:table-cell;
}
